#wpbody-content{
    margin-top: 10vh;
    margin-left: 3vh;

}
.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem
}

.alert-success {
    color: #4ac26b !important;
    background-color: #d4edda;
    border-color: #c3e6cb;
    border-radius: 10px;
    font-weight: bold;
    width: 75vh;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb
}

.alert-p {
    margin-left: 3%;
    font-weight: bold;
}

.alert-i {
    color: red;
    float: left;
    margin-top: 0.8rem;
    margin-left: 1%;
}

.alert-row {
    margin-left: 0.5rem !important;
    margin-top: 0.5rem !important;
    margin-bottom: -1rem !important;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    
  }

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row-llaves {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    max-width:100vh;
    gap:2rem;
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%
}

.col-llaves{
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: fit-content;
}

.card-i {
    color: red;
    margin-top: 1.2rem;
    margin-left: 0.5rem;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .30rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.btn-primary {
    color: #fff;
    background-color: #6057f2;
    padding: .2rem 8rem;
    border-color: #007bff
}

.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc
}

.btn-primary.focus,
.btn-primary:focus {
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .5)
}
.btn.disabled,
.btn:disabled {
    opacity: .65
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #ebebeb;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #ebebeb;
}

.btn-secondary.focus,
.btn-secondary:focus {
    box-shadow: 0 0 0 .2rem rgba(108, 117, 125, .5)
}

.btn-secondary.disabled,
.btn-secondary:disabled {
    color: #fff;
    background-color: #6c757d;
    border-color: #ebebeb;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
}

.btn:not(:disabled):not(.disabled).active,
.btn:not(:disabled):not(.disabled):active {
    background-image: none
}

.form-group {
    margin-bottom: 1rem
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ebebeb36 !important;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.form-control::-ms-expand {
    background-color: transparent;
    border: 0
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25)
}

.form-control::-webkit-input-placeholder {
    color: #6c757d;
    opacity: 1
}

.form-control::-moz-placeholder {
    color: #6c757d;
    opacity: 1
}

.form-control:-ms-input-placeholder {
    color: #6c757d;
    opacity: 1
}

.form-control::-ms-input-placeholder {
    color: #6c757d;
    opacity: 1
}

.form-control::placeholder {
    color: #6c757d;
    opacity: 1
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem
}

.card-conseguir-llaves{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #41414136 !important;
    border-radius: 25px;
    margin-top: 0;
    padding: 1rem;
    margin-right: 18vh;
}
.card-llaves{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    max-width: fit-content;
    padding-top: 0rem;
    /*padding: .5rem 1rem;*/
    background-color: #fff;
    border-radius: 25px;
    border: 1px solid #41414136 !important;
}



.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem
}

.card-body-conseguir-llaves{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.card-title {
    margin-bottom: .75rem
}



/*CSS pagina de incio*/

.row-estado{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
width: fit-content;
gap: 1rem;
}
.row-activo{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 2vh;
}

.btn-primary-activar{
    padding: .7rem 1.5rem;
    border-radius: 10px;
    background-color: #ffffff;
    border: 1px solid #6056f1 ;
    margin-right: 13px;
}
.btn-primary-estado{
    color: #fff;
    background-color: #6057f2;
    border-radius: 13px;
    padding: .5rem 1.2rem;
    font-weight: 400;
    border-color: #007bff
}
.btn-danger{
    background-color: #00000000;
    color: #fb1c1c;
    margin-top: 1vh;
    padding: .5rem 1rem;
    border-radius: 13px;
    border: 1px solid #41414136 ;
}
.card-inicio{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    width: 100%;

}

.card-body-inicio{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem 2.4rem;
    border: 1px solid #54616c1f;
    border-radius: 20px;
}
.row-general{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
}

.row-datos{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: column;
}

.btn-secondary.disabled, .btn-secondary:disabled{
    padding: .5rem 1.2rem;
    border-radius: 10px;
    background-color: #bfbfbf;
}

.col23{
    background-image: url(../buy-me-a-coffee.jpg);

    background-size:80%;
    background-repeat: no-repeat;
    background-position-y: 15px;
}


